/*глобальные теги*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*утилиты*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*анимация*/
@keyframes rotation {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}

.main-container {
    margin: 0;
}

/*progress*/
.progress {
    margin: 0 auto;
    padding: 24px 20px;
    width: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*progress-block*/
.progress-block {
    width: 100%;
    min-width: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-block__title {
    font-size: 14px;
    line-height: 16px;
    align-self: self-start;
}

.progress-block__root {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
    transition: transform 5s;
}

/*Может, потом ещё сделаю класс для normal и там будет transform: rotate(-90deg);*/
.progress-block__root--animated {
    animation: rotation 3s linear infinite;
}

.progress-block__root--hidden {
    display: none;
}

.progress-block__root svg{
    width: 100%;
    height: 100%;
}

/*parameters-panel*/
.parameters-panel {
    display: flex;
    flex-direction: column;
}

.parameters-panel__label {
    display: flex;
}

.parameters-panel__number-input {
    display: block;
    background-color: #FFFFFF;
    width: 48px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #000000;
    margin-right: 10px;
    appearance: none;
}

.parameters-panel__number-input::-webkit-outer-spin-button,
.parameters-panel__number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.parameters-panel__number-input {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

.parameters-panel__checkbox-control-mark {
    display: block;
    background-color: #DFE6F0;
    width: 48px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #DFE6F0;
    position: relative;
    margin-right: 10px;

    &::before {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        content: "";
        width: 25px;
        height: 25px;
        background-color: #FFFFFF;
        border-radius: 50%;
        transition: transform 0.5s;
    }
}

/*Стоит ли оборачивать цвета в переменные?*/
.parameters-panel__checkbox-input[type="checkbox"]:checked + .parameters-panel__checkbox-control-mark {
    border-color: #005dff;
    background-color: #005dff;

    &::before {
        transform: translate(19px);
    }
}
