/*глобальные теги*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*утилиты*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*анимация*/
@keyframes rotation {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}

.main-container {
    margin: 0;
}

/*progress*/
.progress {
    margin: 0 auto;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.progress__block {
    margin-bottom: 35px;
}

/*progress-block*/
.progress-block {
    width: 100%;
    min-width: 222px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-block__title {
    font-size: 14px;
    line-height: 16px;
    align-self: self-start;
    display: block;
    margin-top: 2px;
    margin-left: 1px;
    margin-bottom: 57px;
}

.progress-block__root {
    width: 136px;
    height: 136px;
    transform: rotate(-90deg);
    transition: transform 5s;
}

/*Может, потом ещё сделаю класс для normal и там будет transform: rotate(-90deg);*/
.progress-block__root--animated {
    animation: rotation 3s linear infinite;
}

.progress-block__root--hidden {
    visibility: hidden;
}

.progress-block__root svg{
    width: 100%;
    height: 100%;
}

/*parameters-panel*/
.parameters-panel {
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.parameters-panel__label {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 20px;
    margin-right: 14px;
}

.parameters-panel__number-input {
    padding: 0 6px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: block;
    background-color: #FFFFFF;
    width: 44px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #000000;
    -moz-appearance: textfield;
    appearance: textfield;
}

.parameters-panel__number-input::-webkit-outer-spin-button,
.parameters-panel__number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.parameters-panel__checkbox-control-mark {
    display: block;
    background-color: #DFE6F0;
    width: 44px;
    height: 29px;
    border-radius: 15px;
    border: 2px solid #DFE6F0;
    position: relative;
}

.parameters-panel__checkbox-control-mark::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 23px;
    height: 23px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: transform 0.5s;
}

/*Стоит ли оборачивать цвета в переменные?*/
.parameters-panel__checkbox-input[type="checkbox"]:checked + .parameters-panel__checkbox-control-mark {
    border-color: #005dff;
    background-color: #005dff;
}

.parameters-panel__checkbox-input[type="checkbox"]:checked + .parameters-panel__checkbox-control-mark::before {
    transform: translateX(18px);
}
