/*глобальные теги*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*утилиты*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*анимация*/
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-container {
    margin: 0 auto;
    max-width: 700px;
}

/*progress*/
.progress {
    margin: 0 auto;
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    @media (orientation: landscape) {
        flex-direction: row;
        padding: 20px;
        gap: 0;
    }
}

.progress__block {
    @media (orientation: landscape) {
        flex: 0 0 50%;
        min-width: 0;
        align-self: self-start;
    }
}

.progress__parameters {
    @media (orientation: landscape) {
        flex: 0 0 50%;
        min-width: 0;
        margin-top: 64px;
    }
}

/*progress-block*/
.progress-block {
    width: 100%;
    min-height: 211px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (orientation: landscape) {
        min-height: 208px;
    }
}

.progress-block__title {
    font-size: 14px;
    line-height: 16px;
    align-self: self-start;
    display: block;
    margin-top: 2px;
    margin-left: 1px;
    margin-bottom: 57px;

    @media (orientation: landscape) {
        margin-top: 4px;
        margin-left: 0;
        margin-bottom: 52px;
    }
}

.progress-block__root {
    @media (orientation: landscape) {
        margin-left: 35px;
    }
}

/*parameters-panel*/
.parameters-panel {
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 11px;

    @media (orientation: landscape) {
        padding: 20px 30px;
    }
}

.parameters-panel__label {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 20px;
    margin-right: 14px;

    @media (orientation: landscape) {
        gap: 23px;
        margin-right: 0;
    }
}

.parameters-panel__number-input {
    padding: 0 6px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    display: block;
    background-color: #FFFFFF;
    width: 44px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #000000;
    -moz-appearance: textfield;
    appearance: textfield;
}

.parameters-panel__number-input::-webkit-outer-spin-button,
.parameters-panel__number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.parameters-panel__number-input:focus-visible {
    outline: 2px solid #426096;
}

.parameters-panel__number-input:invalid {
    border-color: #dd0000;
}

.parameters-panel__checkbox-control-mark {
    display: block;
    background-color: #DFE6F0;
    width: 44px;
    height: 29px;
    border-radius: 15px;
    border: 2px solid #DFE6F0;
    position: relative;
}

.parameters-panel__checkbox-control-mark::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 23px;
    height: 23px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: transform 0.5s;
}

.parameters-panel__checkbox-input[type="checkbox"]:checked + .parameters-panel__checkbox-control-mark {
    border-color: #005dff;
    background-color: #005dff;
}

.parameters-panel__checkbox-input[type="checkbox"]:checked + .parameters-panel__checkbox-control-mark::before {
    transform: translateX(18px);
}

.parameters-panel__checkbox-input:focus-visible + .parameters-panel__checkbox-control-mark {
    outline: 2px solid #426096;
}

.parameters-panel__checkbox-input:disabled + .parameters-panel__checkbox-control-mark {
    opacity: 0.6;
}

/*Всё, относящееся непосредственно к progress*/
.progress-root {
    width: 136px;
    height: 136px;
}

.progress-root--animated svg {
    animation: rotation 2s linear infinite;
}

.progress-root--hidden {
    display: none;
}

.progress-root svg{
    width: 100%;
    height: 100%;
}
