@keyframes rotation {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(270deg);
    }
}

.progress-block__root {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
}

.progress-block__root--animated {
    animation: rotation 3s linear infinite;
}

.progress-block__root--hidden {
    display: none;
}

.progress-block__root svg{
    width: 100%;
    height: 100%;
}
